* {
	margin: 0;	 
}

.container-one {
	position: relative;
	left: 30%;
	width: 50%;
	background: red;
}

.heading-container {
	height: auto;
	background: pink;
	width: inherit;

}

.news-heading {
	align-content: center;
	color: white;
}

.card {
	margin: 2%;
	margin-top: 2%;
}
 
 .row {
 	padding: 2%;
 }

.blog-layout {
	background: whitesmoke;
	padding:2%;
}

.blog-layout:hover {
	box-shadow: 5px 7px 5px 7px lightgrey;
}

.blog-heading {
	font-size: 25px;
}

.blog-content {
	font-size: 13px;
	opacity: 0.6;
}

.writer-name {
	color: red;
 	font-size: 20px;
 }

 .date-time-of-blog {
 	opacity: 0.7;
 	color: red;
 }

 .news-letter-container {
 	height: 20%;
 	padding: 2%;
 	background:pink;
 }

.newsletter-form {
	position: relative;
	left: 40%;
	width: 50%;
}

.baseline {
	background: pink;

}

.baseline-text {
	position: relative;
	left: 35%;
	color: black;
	
}

.parallax {
    /* The image used */
     background-image: url("gen-pic.jpg");
     content: " ";
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}